.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100;
  background-color: white;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

.toast {
  position: fixed;
  top: 100;
  right: 0;
  z-index: 1000;
}